{% extends "base.html" %}
{% block content %}
<h1>通讯录</h1>
<hr>
<table border="0" width="500">
<tr align="right">
  <td>{% if addresses.has_previous %}
    <a href="/address?page={{ addresses.previous_page_number }}">上一页</a>
    {% endif %} {% if addresses.has_next %}
    <a href="/address?page={{ addresses.next_page_number }}">下一页</a>
    {% endif %}</td></tr>
</table>

<table border="1">
<tr>
  <th>姓名</th>
  <th>性别</th>
  <th>电话</th>
  <th>邮件</th>
</tr>
{% for address in addresses %}
<tr>
  <td>{{ address.name }}</td>
  <td>{{ address.gender }}</td>
  <td>{{ address.mobile }}</td>
  <td>{{ address.email }}</td>
</tr>
{% endfor %}
</table>

<form enctype="multipart/form-data" method="POST" action="/address/upload/">
上传通讯录文件： <input type="file" name="file"/><br/>
<input type="submit" value="上传文件"/>
</form>
{% endblock %}